@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
font-face {
    font-family: "Plumb"; 
    src: url("//db.onlinewebfonts.com/t/6b37047ea3c67ffa624faf752df4899b.eot"); 
    src: url("//db.onlinewebfonts.com/t/6b37047ea3c67ffa624faf752df4899b.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/6b37047ea3c67ffa624faf752df4899b.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/6b37047ea3c67ffa624faf752df4899b.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/6b37047ea3c67ffa624faf752df4899b.ttf") format("truetype");
}
body{
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    color: #171717;
}
h1{
    font-family: "Plumb", sans-serif;
    font-weight: 700;
    font-size: 30px;
}
p{
    hyphens: auto;
    column-count: 2;
    column-gap: 60px;
    text-align: justify;
}
.letter:first-letter{
    font-family: "Plumb", sans-serif;
    font-size: 110px;
    vertical-align: top;
    line-height: 0.9;
    float: left;
    margin: 0 25px 0 0;
    text-shadow: 5px 5px 3px #dddddd;
}
button{
    text-transform: uppercase;
}
.link_facebook:before{
    content: '\e900';
font-family: 'icomoon' !important;
}
.link_facebook{
color: #000;
}
.link_facebook:hover{
color: red;}
